/* Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body.signin-body {
    background-color: #e6f2ff;
}

.container.signin-container {
    margin-top: 4%;
    margin-bottom: 4%;
}

.card.signin-card {
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
img.signin-img {
    padding:0 2rem;
    margin:auto;
    display:block;
}
form.signin-form {
    max-width: 350px;
    margin: auto;
}
button.signin-btn {
    color: #ffffff;
    background-color: #d64829;
    margin-bottom: 1.2rem;
}
a.new-acc {
    font-size: 1.2rem;
    text-align: center;
    display:block;
    margin-top: 15px;
}